body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    margin: 0;
}

p{
    font-size: 0.8rem;
    line-height: 1.5;
    color: grey;
}

h1{
    font-weight: 700;
}

h2{
    font-weight:400;
}

h3{
    font-weight: 300;
}

h5{
    font-weight: 300;
}

.padding{
    padding:0 8% 5% 8%;
}

small{
    font-size:0.6rem;
}
/* Navigation Classes */

.nav-main{
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 0 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    overflow: hidden;
}

.navlinks{
    display: flex;
}

.navitems{
    display: block;
    width: 85px;
    font-size: 0.8rem;
    padding: 25px 5px;
    color: gray;
    border-bottom:5px solid white;
    transition: border-bottom 0.5s;
    text-decoration: none;
    text-align: center;
}

.navitems:hover{
    color: hsl(136, 65%, 51%);
    border-bottom: 5px solid hsl(136, 65%, 51%);
}

.request-btn{
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    height: 40px;
    width: 140px;
}

.request-btn:hover{
    opacity: 0.75;
}
.ham-button{
    height:5px;
    width:35px;
    margin:6px 0 ;
    background-color: black;
}

.menu-button{
    display:none;
}

.floating-menu{
    display: none;
    background-color: rgb(250, 243, 243);
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    left: 0; 
    right: 0; 
    transition: transform 0.5s;
    transform:translateY(-400px);
    z-index: 1;
}

.translator{
    transform:translateY(0);
}

/* Head Section*/

.section1{
    padding-left:8%;
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
}

.container{
    display: flex;
    margin: auto;
  
}

.head-img{
    position: relative;
    flex: 3;
    order:2;
    min-height: 725px;
    width: 100%;
    z-index: 0;
}

.head-img::before{
    position:absolute;
    content:"";
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size:110%;
    background-position: center center;
    width: 120%;
    height: 120%;
    top:-25%;
    right:-25% ;
}

.head-img::after{
    position:absolute;
    content:"";
    background-image: url("images/image-mockups.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
    width: 100%;
    top:-37%;
    right: -20%;
    z-index: 1;
}

.head-text{
    flex:2;
    padding-top: 13%;
}


.head-text{
    vertical-align: middle;
}

/* Features */

.section2{
    background-color: white;
}

.features{
    display : flex;
    flex-direction : row ;
    justify-content : space-between;
}

.feat-items{
    padding:10px;
    width: 100%;
}

/* Article Section */

.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1%;
    grid-template-areas: "A B C D";
}

.card{
    position: relative;
    width:100%;
    border-radius: 10px;
    background-color: whitesmoke;
}

.card-img{
    width: 100%;
    height: 200px;
    background-position: center center;
    border-radius: 10px 10px 0 0;
}

.card-title{
    text-decoration: none;
    color: black;
}

.card-items{
    padding:5%;
}

.card-img1{
    background-image: url("images/image-currency.jpg");
}

.card-img2{
    background-image: url("images/image-restaurant.jpg");
}

.card-img3{
    background-image: url("images/image-plane.jpg");
}

.card-img4{
    background-image: url("images/image-confetti.jpg");
}

.area1{
    grid-area: A;
}

.area2{
    grid-area: B;
}

.area3{
    grid-area: C;
}

.area4{
    grid-area: D;
}

/* Footer */

.footer{
    height: 250px;
    box-sizing: border-box;
    background-color:hsl(233, 26%, 24%);
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer1{
    display:flex;

    justify-content: space-between;
    align-items: center;
    flex:2;
}

.footer2{
    flex:1;
    text-align: right;
    margin-left: 30%;
}

.footer1-sub div{
    margin-bottom: 30px;
    margin-right: 20px;
}

.footer1-sub a{
    margin: 1px;
}
.footer-items{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 20px;
    width: 105px;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer p{
    color: gray;
}

/* Hover */

.footer-items:hover,.card-title:hover{
    color: hsl(136, 65%, 51%);
}
/* Media Queries */

@media(max-width:1230px) and (min-width:741px){

    .head-img::before{
        top:-30%;
        width:130%;
    }

    .head-img::after{
        position:absolute;
        content:"";
        background-image: url("images/image-mockups.png");
        background-repeat: no-repeat;
        background-size:cover;
        height: 1000px;
        width: 70%;
        top:-35%;
        left: 35%;
        z-index: 1;
    }
    .card-section{
        grid-template-columns: 1fr 1fr;
        justify-items:center;
        grid-template-areas:
        "A B"
        "C D";
        gap:20px;
    }

    .features{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items:center;
        gap:20px;
    }
}

@media(max-width:940px) and (min-width:741px){
    .head-img::before{
        top:-40%;
        right:-28%;
    }

    .nav-main .request-btn{
        display: none;
    }

    .nav-main{
        justify-content: space-evenly;
    }

    .footer2{
        margin-left: 15%;
    }

}

@media(max-width:740px){

    body{
        text-align: center;
    }
    .nav-main .request-btn{
        display: none;
    }

    .navlinks{
        display: none;
    }

    .menu-button{
        display:unset;
    }
    .nav-main{
        padding: 20px;
    }

    .floating-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navitems{
        border-bottom: 0;
    }

    .navitems:hover{
        color: black;
        border-bottom: 0;
    }

    .section1{
        padding: 0;
    }

    .container{
        display: unset;
    }
    .head-img{
        position: relative;
        background-image: url("images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
    }

    .head-img::after{
        width: 0%;
    }

    .head-img-mob::before{
        position: absolute;
        content:"";
        background-image: url("images/image-mockups.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 95%;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top:0;
    }

    .head-text{
        text-align: center;
        padding: 0 8% 10% 8%;

    }

    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feat-items{
        width: 100%;
    }


    .card-section{
        text-align: left;
        padding-bottom: 15%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "A"
        "B"
        "C"
        "D";
    }

    .footer{
        height: 100%;
        flex-direction: column;
    }

    .footer1{
        flex-direction: column;
    }

    .footer2{
        margin-left: 0;
        text-align: center;
    }

    .footer-links-wrap{
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer1-sub div{
        margin:20px 0;
    }

}

